/* width : 1320px */
/* 양쪽 패딩 : 20px */
/* 실제 컨텐츠 넓이 : 1280px */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
